<div class="page">
    <a title="Total record"><b>{{ total }}</b></a>
    <a href="javascript:void(0);" ng-if="pageNumber > showPage && minPageIndex != 1" ng-click="goToBegin()"><<</a>
    <a href="javascript:void(0);" ng-if="pageNumber > showPage && minPageIndex != 1"  ng-click="goToPre(pageIndex)"><</a>
    <span ng-repeat="page in pageList track by $index">
        <b ng-if="page == pageIndex">{{page}}</b>
        <a href="javascript:void(0);" ng-click="goTo(page)" ng-if="page != pageIndex">{{page}}</a>
    </span>
    <a href="javascript:void(0);" ng-if="pageNumber > showPage && maxPageIndex != total"  ng-click="goToNext(pageIndex)">></a>
    <a href="javascript:void(0);" ng-if="pageNumber > showPage && maxPageIndex != total" ng-click="goToEnd()">>></a>
</div>

