@charset "gb2312";
/* css */
* { margin: 0; padding: 0 }
body { font: 12px "", Arial, Helvetica, sans-serif; background: #f5f5f5;    background-image: url(../images/bg2.jpg); }
img { border: 0; display: block }
ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
a { outline: none; }
a:link, a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
.clear { clear: both; }
.blank { height: 5px; overflow: hidden; width: 100%; margin: auto; clear: both }
/*  */
.ibody { background: rgba(255,255,255,0.5); width: 1000px; margin: auto; }
header { position: relative; box-shadow: -2px -1px 5px #666; }
header h1 { padding: 15px 0 0 80px; font-size: 22px; font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif; }
header h2 { margin: 20px 80px; color: #8e8d8d }
/* logo */
.logo { background: url(../images/logo.png) no-repeat #d8b36a center; background-size: contain; width: 145px; height: 145px; border-radius: 50%; position: absolute; left: -72px; top: 40px; box-shadow: 0px 2px 2px #414141; }
.logo:hover { background: url(../images/home.png) no-repeat #d8b36a center; }
.logo a { width: 100%; height: 100%; display: block }
/*  */
nav {   height: 48px; line-height: 48px;  filter: progid:DXImageTransform.Microsoft.gradient(gradientType = 0, startColorstr = #3333333, endColorstr = #3333333);
}/* IE6  */

.search_div {
    position: absolute;
    right: 0;
}
.search_btn {
    margin-left: -30px;
}
.search_input {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    padding-right: 50px;
}

nav a { display: inline-block; font-size: 18px; font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif; color: #FFF; padding: 0 20px; -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; transition: all 1s; margin: 0 20px;}
nav a:hover { 
    background: #e5d2bf;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    box-shadow: 2px 2px 2px #cdb59e;
}
.topnav_div {width: 1000px; margin:0 auto; position: relative;}
#topnav_current {
    background: #e5d2bf;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    box-shadow: 2px 2px 2px #cdb59e; }/* ѡɫ */
article { width: 73%; float: left;  }/* � */
aside { width: 27%;  float: right; }/* �Ҳ��� */
/* ��Ȩ��Ϣ */
.copyright { background: #fcf8f4; border-radius: 50%; text-align: center; color: #d7bdb1; padding: 20px; margin: 60px 20px 0 20px;  }
.copyright p { line-height: 26px; text-shadow: #fcf8f4 1px 1px 1px }
.copyright p a { color: #d7bdb1; }
.ng-cloak{display: none;}

::-webkit-scrollbar-track-piece {
    background-color: #fff;
    -webkit-border-radius: 0
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px
}
::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #b8b8b8;
    -webkit-border-radius: 6px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    border: 2px solid #fff;
    filter: alpha(opacity = 50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5
}
::-webkit-scrollbar-thumb:hover {
    height: 50px;
    background-color: #878987;
    -webkit-border-radius: 6px
}
.panel {
    background: rgba(255, 255, 255, 0.5);
}