
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>黑色Html5响应式个人博客模板——主题《如影随形》</title>
<meta name="keywords" content="个人博客模板,博客模板,响应式" />
<meta name="description" content="如影随形主题的个人博客模板，神秘、俏皮。" />
<link href="css/base.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/media.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<div class="ibody">
  <header>
    <h1>如影随形</h1>
    <h2>影子是一个会撒谎的精灵，它在虚空中流浪和等待被发现之间;在存在与不存在之间....</h2>
    <div class="logo"><a href="/"></a></div>
    <nav id="topnav"><a href="index.html">首页</a><a href="about.html">关于我</a><a href="newlist.html">慢生活</a><a href="share.html">模板分享</a><a href="new.html">兴趣爱好</a></nav>
  </header>
  <article>
    <h2 class="about_h">您现在的位置是：<a href="/">首页</a>><a href="1/">兴趣爱好</a></h2>
    <div class="bloglist">
      <div class="newblog">
        <ul>
          <h3><a href="/">无根的植物</a></h3>
          <div class="autor"><span>作者：焦增会</span><span>分类：[<a href="/">日记</a>]</span><span>浏览（<a href="/">459</a>）</span><span>评论（<a href="/">30</a>）</span></div>
          <p>我一直都认为，拆迁对我们家是有很多好处的。我也一直都认为，那火柴盒一样方方正正的小屋子比... <a href="/" target="_blank" class="readmore">全文</a></p>
        </ul>
        <figure><img src="images/001.jpg" ></figure>
        <div class="dateview">2016-04-08</div>
      </div>
      <div class="newblog">
        <ul>
          <h3><a href="/">我不是一棵植物</a></h3>
          <div class="autor"><span>作者：焦增会</span><span>分类：[<a href="/">日记</a>]</span><span>浏览（<a href="/">459</a>）</span><span>评论（<a href="/">30</a>）</span></div>
          <p>我不是一棵植物，我有血有肉，在你怀里飘零着的哀怨情歌，何时掠夺了我片刻的安宁；从你经过我眼前那天起， <a href="/" target="_blank" class="readmore">全文</a></p>
        </ul>
        <figure><img src="images/005.jpg" ></figure>
        <div class="dateview">2016-04-08</div>
      </div>
      <div class="newblog">
        <ul>
          <h3><a href="/">如果没有绿色</a></h3>
          <div class="autor"><span>作者：焦增会</span><span>分类：[<a href="/">程序人生</a>]</span><span>浏览（<a href="/">459</a>）</span><span>评论（<a href="/">30</a>）</span></div>
          <p>如果没绿色将会怎样呢？如果没绿色就没有人类，放眼望去是无边无际的沙漠，人们没有家了，因为没有树，土地沙化，洪水泛滥冲毁了人们辛苦建的家园。人们没有粮食充饥，在无助、沉中死去。<a href="/" target="_blank" class="readmore">全文</a></p>
        </ul>
        <figure><img src="images/008.jpg" ></figure>
        <div class="dateview">2016-04-08</div>
      </div>
      <div class="newblog">
        <ul>
          <h3><a href="/">绿色之旅</a></h3>
          <div class="autor"><span>作者：焦增会</span><span>分类：[<a href="/">日记</a>]</span><span>浏览（<a href="/">459</a>）</span><span>评论（<a href="/">30</a>）</span></div>
          <p>在我的家乡——彩云之南的西南部，有一个神奇而美丽的地方——西双版纳。它是一颗镶嵌在赤道线上的绿色明珠。<a href="/" target="_blank" class="readmore">全文</a></p>
        </ul>
        <figure><img src="images/002.jpg" ></figure>
        <div class="dateview">2016-04-08</div>
      </div>
      <div class="newblog">
        <ul>
          <h3><a href="/">迷人的凤山植物园</a></h3>
          <div class="autor"><span>作者：焦增会</span><span>分类：[<a href="/">经典语录</a>]</span><span>浏览（<a href="/">459</a>）</span><span>评论（<a href="/">30</a>）</span></div>
          <p>如果唐河真有仙境，那就是凤山植物园。我来到凤山植物园门口，推开小铁门进去，一条用彩色方砖铺成的小路把整个凤山植物园分成了两半。<a href="/" target="_blank" class="readmore">全文</a></p>
        </ul>
        <figure><img src="images/003.jpg" ></figure>
        <div class="dateview">2016-04-08</div>
      </div>
      <div class="newblog">
        <ul>
          <h3><a href="/">红树林游记</a></h3>
          <div class="autor"><span>作者：焦增会</span><span>分类：[<a href="/">日记</a>]</span><span>浏览（<a href="/">459</a>）</span><span>评论（<a href="/">30</a>）</span></div>
          <p>今天是大年初五，我们决定到海边去看红树林。上午11点半，我们从外婆家出发。中午12点时，我们到达了红树林。我们把车停好后，便下车走到海边。 <a href="/" target="_blank" class="readmore">全文</a></p>
        </ul>
        <figure><img src="images/01.jpg" ></figure>
        <div class="dateview">2016-04-08</div>
      </div>
      <div class="newblog">
        <ul>
          <h3><a href="/">两只蜗牛艰难又浪漫的一吻</a></h3>
          <div class="autor"><span>作者：焦增会</span><span>分类：[<a href="/">日记</a>]</span><span>浏览（<a href="/">459</a>）</span><span>评论（<a href="/">30</a>）</span></div>
          <p>这是国外一摄影师拍摄到的，看到这一幕，还真有爱！关于两只蜗牛相遇，该这般解释：两个蜗牛相遇的时候，互相用触角接触，然后头和头相对，身体并连，彼此生殖腔的位置相接... <a href="/" target="_blank" class="readmore">全文</a></p>
        </ul>
        <figure><img src="images/004.jpg" ></figure>
        <div class="dateview">2016-04-08</div>
      </div>
      <div class="newblog">
        <ul>
          <h3><a href="/">仙人掌</a></h3>
          <div class="autor"><span>作者：焦增会</span><span>分类：[<a href="/">日记</a>]</span><span>浏览（<a href="/">459</a>）</span><span>评论（<a href="/">30</a>）</span></div>
          <p>大家都听过仙人掌这种植物，可对它了解多少呢！就让我来告诉你这种生长在沙漠中的植物吧！<a href="/" target="_blank" class="readmore">全文</a></p>
        </ul>
        <figure><img src="images/006.jpg" ></figure>
        <div class="dateview">2016-04-08</div>
      </div>
      <div class="newblog">
        <ul>
          <h3><a href="/">叶子知多少</a></h3>
          <div class="autor"><span>作者：焦增会</span><span>分类：[<a href="/">日记</a>]</span><span>浏览（<a href="/">459</a>）</span><span>评论（<a href="/">30</a>）</span></div>
          <p>文章开始先为大家献上我的叶雕作品《喜鹊报春》，祝博友们满面春风、吉祥如意、好运当头！<a href="/" target="_blank" class="readmore">全文</a></p>
        </ul>
        <figure><img src="images/007.jpg" ></figure>
        <div class="dateview">2016-04-08</div>
      </div>
    </div>
    <div class="page"><a title="Total record"><b>113</b></a><b>1</b><a href="/">2</a><a href="/">3</a><a href="/">4</a><a href="/">5</a><a href="/">&gt;</a><a href="/">&gt;&gt;</a></div>
  </article>
  <aside>
    <div class="rnav">
      <li class="rnav1 "><a href="/">日记</a></li>
      <li class="rnav2 "><a href="/">欣赏</a></li>
      <li class="rnav3 "><a href="/">程序人生</a></li>
      <li class="rnav4 "><a href="/">经典语录</a></li>
    </div>
    <div class="ph_news">
      <h2>
        <p>点击排行</p>
      </h2>
      <ul class="ph_n">
        <li><span class="num1">1</span><a href="/">有一种思念，是淡淡的幸福,一个心情一行文字</a></li>
        <li><span class="num2">2</span><a href="/">励志人生-要做一个潇洒的女人</a></li>
        <li><span class="num3">3</span><a href="/">女孩都有浪漫的小情怀——浪漫的求婚词</a></li>
        <li><span>4</span><a href="/">Green绿色小清新的夏天-个人博客模板</a></li>
        <li><span>5</span><a href="/">女生清新个人博客网站模板</a></li>
        <li><span>6</span><a href="/">Wedding-婚礼主题、情人节网站模板</a></li>
        <li><span>7</span><a href="/">Column 三栏布局 个人网站模板</a></li>
        <li><span>8</span><a href="/">时间煮雨-个人网站模板</a></li>
        <li><span>9</span><a href="/">花气袭人是酒香—个人网站模板</a></li>
      </ul>
      <h2>
        <p>栏目推荐</p>
      </h2>
      <ul>
        <li><a href="/">有一种思念，是淡淡的幸福,一个心情一行文字</a></li>
        <li><a href="/">励志人生-要做一个潇洒的女人</a></li>
        <li><a href="/">女孩都有浪漫的小情怀——浪漫的求婚词</a></li>
        <li><a href="/">Green绿色小清新的夏天-个人博客模板</a></li>
        <li><a href="/">女生清新个人博客网站模板</a></li>
        <li><a href="/">Wedding-婚礼主题、情人节网站模板</a></li>
        <li><a href="/">Column 三栏布局 个人网站模板</a></li>
        <li><a href="/">时间煮雨-个人网站模板</a></li>
        <li><a href="/">花气袭人是酒香—个人网站模板</a></li>
      </ul>
      <h2>
        <p>最新评论</p>
      </h2>
      <ul class="pl_n">
        <dl>
          <dt><img src="images/s8.jpg"> </dt>
          <dt> </dt>
          <dd>DanceSmile
            <time>49分钟前</time>
          </dd>
          <dd><a href="/">文章非常详细，我很喜欢.前端的工程师很少，我记得几年前yahoo花高薪招聘前端也招不到</a></dd>
        </dl>
        <dl>
          <dt><img src="images/s7.jpg"> </dt>
          <dt> </dt>
          <dd>yisa
            <time>2小时前</time>
          </dd>
          <dd><a href="/">我手机里面也有这样一个号码存在</a></dd>
        </dl>
        <dl>
          <dt><img src="images/s6.jpg"> </dt>
          <dt> </dt>
          <dd>小林博客
            <time>8月7日</time>
          </dd>
          <dd><a href="/">博客色彩丰富，很是好看</a></dd>
        </dl>
        <dl>
          <dt><img src="images/003.jpg"> </dt>
          <dt> </dt>
          <dd>DanceSmile
            <time>49分钟前</time>
          </dd>
          <dd><a href="/">文章非常详细，我很喜欢.前端的工程师很少，我记得几年前yahoo花高薪招聘前端也招不到</a></dd>
        </dl>
        <dl>
          <dt><img src="images/002.jpg"> </dt>
          <dt> </dt>
          <dd>yisa
            <time>2小时前</time>
          </dd>
          <dd><a href="/">我手机里面也有这样一个号码存在</a></dd>
        </dl>
      </ul>
      <h2>
        <p>最近访客</p>
        <ul>
          <img src="images/vis.jpg"><!-- 直接使用“多说”插件的调用代码 -->
        </ul>
      </h2>
    </div>
    <div class="copyright">
      <ul>
        <p> Design by <a href="/">DanceSmile</a></p>
        <p>蜀ICP备11002373号-1</p>
        </p>
      </ul>
    </div>
  </aside>
  <script src="js/silder.js"></script>
  <div class="clear"></div>
  <!-- 清除浮动 --> 
</div>
</body>
</html>
