<article>
    <h3 class="about_h">您现在的位置是：<a href="/">首页</a>><a href="aboutme.html">关于我</a></h3>
    <div class="about">
      <h2>Just about me</h2>
      <ul>
        <p>Jzh，女，一个90后草根女站长！12年入行，从业已经有八九年的时间。想当年我还是一枚.net程序员，兴趣的驱使，我进化成为了一个前端程序猿。</p>
        <p>建站的想法由来已久，大约是几年前的事情了，其实目前部署的版本也是早在我几年之前做好的版本，不过当初种种原因，没有成功上线。
        今年终于是下定决心，一定要把这个目标实现</p>
        <p>我原以为做一个能浏览的网站其实是很简单，然而真正的当我买好服务器、域名，备案，真正能访问了之后，
            网站的seo优化才是重头戏。原来用的框架做的网站，如果是10分的seo，那原来的几乎为零，
            于是工作之余，将全部心血放在优化上，对整个网站做了一次大改版，深深感受到优化之路任重而道远。
        </p>
        <p>我终于有了一个自己的空间，虽然来得有些迟，但是我相信什么时候开始都不晚。
        </p>
        <p>
            my motto: Just do it And Be better yourself
          </p>
      </ul>
    </div>
    </article>

    